<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Python Meetup</title>

    <script type="text/javascript" src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vis.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='exampleUtil.js')}}"></script>

    <link href="{{url_for('static', filename='vis.min.js')}}" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='custom.css')}}" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        var nodes = null;
        var edges = null;
        var network = null;
        var data = null;

        var seed = 2;

        function destroy() {
            if (network !== null) {
                network.destroy();
                network = null;
            }
        }

        function draw() {
            destroy();
            nodes = [];
            edges = [];

            // create a network
            var container = document.getElementById('mynetwork');

            var options = {
                locale: 'es',
                edges: {
                    arrows: {
                        to: true,
                    }
                },
                interaction: {
                    navigationButtons: true,
                    hoverConnectedEdges: false
                },
                manipulation: {
                    addNode: function (data, callback) {
                        // filling in the popup DOM elements
                        document.getElementById('operation').innerHTML = "Agregar nodo";
                        document.getElementById('node-id').value = data.id;
                        document.getElementById('node-label').value = data.label;
                        document.getElementById('saveButton').onclick = saveData.bind(this, data, callback);
                        document.getElementById('cancelButton').onclick = clearPopUp.bind();
                        document.getElementById('network-popUp').style.display = 'block';
                    },
                    editNode: function (data, callback) {
                        // filling in the popup DOM elements
                        document.getElementById('operation').innerHTML = "Editar Nodo";
                        document.getElementById('node-id').value = data.id;
                        document.getElementById('node-label').value = data.label;
                        document.getElementById('saveButton').onclick = saveData.bind(this, data, callback);
                        document.getElementById('cancelButton').onclick = cancelEdit.bind(this, callback);
                        document.getElementById('network-popUp').style.display = 'block';
                    },
                    addEdge: function (data, callback) {
                        if (data.from == data.to) {
                            var r = confirm("¿Quiere conectarse a si mismo?");
                            if (r == true)
                                callback(data);
                        }
                        else {
                            callback(data);
                        }
                    }
                }
            };

            getGraph(function (err, result) {
                data = result
                network = new vis.Network(container, data, options);
            });
        }

        function clearPopUp() {
            document.getElementById('saveButton').onclick = null;
            document.getElementById('cancelButton').onclick = null;
            document.getElementById('network-popUp').style.display = 'none';
        }

        function cancelEdit(callback) {
            clearPopUp();
            callback(null);
        }

        function saveData(data, callback) {
            data.id = document.getElementById('node-id').value;
            data.label = document.getElementById('node-label').value;
            clearPopUp();
            callback(data);
        }

        function init() {
            draw();
        }

    </script>

</head>

<body onload="init();">
    <h2>Visualizador de Grafos</h2>

    <div id="network-popUp">
        <span id="operation">Nodo</span> <br>
        <table style="margin:auto;">
            <tr>
                <td>Id</td>
                <td><input id="node-id" value="new value" /></td>
            </tr>
            <tr>
                <td>Label</td>
                <td><input id="node-label" value="new value" /></td>
            </tr>
        </table>
        <input type="button" value="save" id="saveButton" />
        <input type="button" value="cancel" id="cancelButton" />
    </div>
    <br />
    <div id="mynetwork"></div>

</body>

</html>